<li>
  <ng-container *ngIf="editorToggle == false; else editBlock">
    <section class="todo__item" [ngClass]="isComplete ? 'complete' : ''">
      <div>
        <span class="content">{{ todo }}</span>
      </div>
      <div>
        <ng-template
          *ngIf="isComplete; then setNoCompleteBlock; else setCompleteBlock"
        >
        </ng-template>

        <ng-template #setNoCompleteBlock>
          <span class="btn check mr-4" (click)="todoIsNotComplete(id)">
            <i class="fas fa-trash-restore"></i>
          </span>
        </ng-template>

        <ng-template #setCompleteBlock>
          <span class="btn check mr-4" (click)="todoIsComplete(id)">
            <i class="fas fa-check"></i>
          </span>
        </ng-template>

        <span class="btn edit mr-4" (click)="ctrlToggleEditor()">
          <i class="fas fa-edit"></i>
        </span>
        <span class="btn delete" (click)="delete(id)">
          <i class="fas fa-trash-alt"></i>
        </span>
      </div>
    </section>
  </ng-container>
  <ng-template #editBlock>
    <form [formGroup]="todoForm" (ngSubmit)="onEditTodo()">
      <input type="text" formControlName="todo" />
      <button type="submit" class="modify">수정</button>
      <button type="button" class="cancel" (click)="ctrlToggleEditor()">
        취소
      </button>
    </form>
  </ng-template>
</li>
